/* --- Applies to all pages: --- */

/* Boilerplate */
* { padding: 0; margin: 0; }

:root {
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: helvetica, arial;
  color: white;
}

/* Re-used classes */
.base-flexbox {
  display: flex;
  align-items: center;
}

/* --- Top Nav --- */

.nav-hamburger-wrap {
  display: none;
  align-items: center;
  justify-content: left;
  margin: 1rem;
}

.nav-hamburger {
  background-color: transparent;
  border: none;
}

.nav {
  list-style: none;
  margin: 1rem;
  justify-content: center;
}

.nav-item {
  margin: 0 1.5rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

.nav-button {
  padding: 0.5rem 0.5rem;
  border: none;
  font-size: 1rem;
}

.nav-button a {
  text-decoration: none;
  color: white;
}

.popcity {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #464dce;
}

.chgcity {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #e88f02;
}

/* --- Homepage --- */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

#home-greeting {
  font-size: 5rem;
  color: white;
  font-family: helvetica, arial;
  text-align: center;
  margin-bottom: 4rem;
}

#search {
  font-size: 1rem;
  color: blueviolet;
  border: none;
  background-color: lightblue;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 1rem;
}

::placeholder {
  color: grey;
  text-align: left;
}

input:focus {
  outline: none;
}

.unit-heading {
  margin: 3rem 0 1rem 0;
}

.unit-buttons {
  margin-bottom: 0.5rem;
}

.unit-buttons button {
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: blueviolet;
  border-radius: 8px;
}

/* --- Dashboard --- */
#dashboard-heading {
	font-size: 3rem;
	text-align: center;
  margin: 1rem 0rem 0.5rem 0rem;
}

#weatherDesc {
  font-size: 1.5rem;
	text-align: center;
}

#invalid-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#invalid-button {
  padding: 2rem;
  margin-top: 2rem;
  background-color: blueviolet;
  border-radius: 2rem;
  border: none;
}

#invalid-button a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.grid {
  display: grid;
  border: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 2rem 5rem;
}

.stat-heading {
  margin-bottom: 1rem;
}

.stat-info {
  margin-bottom: 1rem;
}

/* Class to color the actual stats (temp, feels like etc) themselves. */
.info-text {
  color: lightgreen;
}

/* Don't assign height! Grid item will adjust height based on amount of items in grid-item */

.stat-section {
  background-color: #141311;
  color: white;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 2rem;
  height: 15rem; /* Only set this STATIC value if you're sure all the text fits in this height */
}

#lastUpdated {
  text-align: center;
}

/* --- Media Queries --- */
/* MEDIA QUERIES ONLY WORK AFTER YOU DECLARE THE CLASS, CSS GOES WITH THE LAST ASSIGNED VALUE */
@media (max-width: 900px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .nav-hamburger-wrap {
    display: flex;
  }
  .nav {
    display: none;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 10px;
  }
}