:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: helvetica, arial;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  overflow: hidden;
}

@media (max-width: 700px) {
  :root {
    font-size: 12px;
  }
  .nav-item {
    display: none;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 8px;
  }
}

body {
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 94vh;
}

.top-nav {
  /*border: 1px solid black;*/
  display: none; /* Should be flex, change when you need it */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-item,
.nav-item a {
  text-decoration: none;
  list-style: none;
  color: #D16BA5;
  /*border: 1px solid blue;*/
  margin: 1rem;
  font-size: 1.25rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

h1 {
	font-size: 5rem;
	color: white;
	font-family: helvetica, arial;
	text-align: center;
}

#search {
  font-size: 1rem;
  color: purple;
  border: none;
  background-color: lightblue;
  border-radius: 0.5rem;
  /*width: 14rem;*/
  height: 2rem;
  padding: 1rem;
}

::placeholder {
  color: grey;
  text-align: left;
}

input:focus {
  outline: none;
}

#dashboard-greeting {
  margin-bottom: 4rem;
}

#invalid-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#invalid-button, #invalid-button a {
  text-decoration: none;
  padding: 2rem;
  margin-top: 2rem;
  background-color: purple;
  color: white;
  font-size: 2rem;
  border-radius: 2rem;
  border: none;
  
}

.grid {
  display: grid;
  border: 1px solid white;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
  box-sizing: border-box;
}

.grid-item {
 color: blue; 
}

.stat-section {
  background-color: #141311;
  color: white;
  /*width: 30rem;*/
  height: 10rem;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 2rem;
}

.big-stat-section {
  background-color: #141311;
  color: white;
  /*width: 30rem;*/
  height: 20rem;
  padding: 4rem 4rem 4.5rem 4rem; /* Weird padding that aligns it with .stat-section */
  margin: 0.5rem;
  border-radius: 2rem;
}
